---
import Button from "./shared/Button.astro";
import Container from "./shared/Container.astro";
import SectionTitle from "./shared/SectionTitle.astro";

interface Item {
  title: string;
  desc: string;
  background: string;
  mod: string;
  subtitle?: string;
}

const items: Item[] = [
  {
    title: "video first",
    desc: "Съемочные проекты, ТВ-ролики и OLV, нестандартный видео-контент и co-creation с селебрити",
    background: "url(/projects/v.jpg)",
    mod: "v"
  },
  {
    title: "Branding and craft",
    desc: "Разработка и запуск брендов, нейминг, упаковка, формирование долгосрочных стратегий развития, разработка гайдов",
    background: "url(/projects/b_m.webp)",
    mod: "b"
  },
  {
    title: "Digital- design",
    desc: "Разработка эко-системы коммуникаций в канале, платформ и программ, UX/UI, поддержка e-com",
    background: "url(/projects/d_m.jpg)",
    mod: "d"
  },
  {
    title: "Retail",
    subtitle: "(in-store & e-com)",
    desc: "Активации в канале, ритейл-дизайн, кастомизированные кампании с торговыми сетями, 15+ лет опыта работы в шопер марекетинге в России",
    background: "url(/projects/r.jpg)",
    mod: "r"
  },
]

---

<section class="projects" id="projects">
  <Container>
    <SectionTitle>что мы делаем</SectionTitle>
    <div class="projects__cta">
      <div class="projects__text-content">
        <div class="bold">интегрированные </div>
        <span>кампании</span>
        <span>с различным</span>
        <span> миксом каналов</span>
      </div>
      <div class="projects__l">
        <Button />
      </div>
    </div>
    <ul class="projects__list">
      {
        items.map(i => (
          <li class={`item item_${i.mod}`}>
            <div class:list={`projects__item projects__item_${i.mod}`} style={{"--bg": i.background}}>
              <div class="projects__item-content">
                <div class="projects__item-title">
                  <div class="projects__item-title-text" data-letter={i.mod}>{i.title}</div>
                  {i.subtitle && <div class="projects__item-title-subtitle">{i.subtitle}</div>}
                </div>
                <div class="projects__item-desc">{i.desc}</div>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </Container>
</section>

<style lang="scss">

  .projects {
    margin-bottom: 1.625rem;
  }

  .projects__cta {
    display: grid;
    justify-items: start;
    padding-left: 11px;
    margin-bottom: 5.25rem;
    @media (min-width: 1200px) {
      grid-template-columns: min-content auto;
      gap: 50px;
      align-items: start;
      margin-top: 5rem;
    }
  }
  .projects__text-content {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 2.25rem;
    line-height: 0.8;
    font-weight: 300;
    @media (min-width: 1200px) {
      font-size: 3.75rem;
      margin-top: 0;
    }
  }
  .bold {
    font-weight: 500;
  }

  .projects__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.625rem;
    padding: 0 0.625rem;

    @media (min-width: 1200px) {
      grid-template-areas: 
      "v b d"
      "v b r"
      ;
      grid-template-columns: 276px 276px 383px;
      grid-template-rows: 360px 469px;
    }
  }

  .projects__l {
    margin-top: 10px;
  }
  
  .projects__item {
    padding-top: 1.625rem;
    padding-left: 1.25rem;
    background: var(--bg) no-repeat center/ cover;
    border-radius: 0.625rem;
    @media (min-width: 1200px) {
      height: 100%;
    }
  }

  .projects__item-desc {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.41;
  }

  .projects__item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .projects__item-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.125rem;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 1.27;
    text-transform: uppercase;
  }
  .projects__item-title-text {
    position: relative;
  } 
  .projects__item_v {
    @media (min-width: 1200px) {
      padding-top: 24.5rem;
    }
    padding-top: 18.0625rem;
    padding-right: 3.125rem;
    padding-bottom: 1.625rem;
    min-height: 28.75rem;
    z-index: 5;
    .projects__item-title {
      max-width: 8.875rem;
      font-size: 2.625rem;
      line-height: 0.9;
    }
    
    .projects__item-title-text::after {
      background-color: #646464;
      color: #94D1FF;
      top: unset;
      bottom: 0;
      right: -10px;
    }
  }
  .item {
    position: relative;
  }
  .item_v {
    @media (min-width: 1200px) {
      grid-area: v;
      max-height: 575px;
      transform: translateY(190px);
    }
  }
  .item_b {
    @media (min-width: 1200px) {
      grid-area: b;
      max-height: 655px;
      transform: translateY(70px);
    }
  }
  .item_d {
    @media (min-width: 1200px) {
      grid-area: d;
    }
    }
    .item_r {
    @media (min-width: 1200px) {
      grid-area: r;
    }
  }

  .item::before, .item::after {
    content: "";
    position: absolute;
    border-radius: 0.625rem;
  }
  .item_v::after {
    width: calc(100% - 1.3125rem);
    height: calc(1rem + 1rem);
    top: -1rem;
    right: 0;
    background-color: #B5AC9D;
    z-index: -1;
  }

  .item_v::before {
    width: calc(100% - 1.3125rem - 1rem);
    height: calc(1rem + 1rem);
    top: -2rem;
    right: 0;
    background-color: #E5E3DD;
    z-index: -1;
  }

  .projects__item_b {
    padding-right: 3.125rem;
    padding-bottom: 19.43rem;
    min-height: calc(490px - 1rem);
    z-index: 5;
    background: var(--bg) no-repeat center bottom/ contain, linear-gradient(180deg, #1BB3D4 27.08%, #06ACD0 86.46%);
    // background-position-y: -80px;
    margin-bottom: 2rem;
    @media (min-width: 1200px) {
      background-position-y: -32px;
      background: url("/projects/b.jpg") no-repeat center/ cover;
      
    }
    .projects__item-title {
      max-width: 11rem;
    }
    
    .projects__item-title-text::after {
      background-color: #00EEFF;
      top: unset;
      bottom: 0;
      right: 63px;
    }
  }

  .item_b::after {
    width: calc(100% - 1.3125rem);
    height: calc(1rem + 1rem);
    bottom: 1rem;
    left: 0;
    background-color: #00EEFF;
    z-index: -1;
    @media (min-width: 1200px) {
      bottom: -1rem;
    }
  }

  .item_b::before {
    width: calc(100% - 1.3125rem - 1rem);
    height: calc(1rem + 1rem);
    bottom: 0;
    left: 0;
    background-color: #9EF9FF;
    z-index: -1;
    @media (min-width: 1200px) {
      bottom: -2rem;
    }
  }
  
  .projects__item_d {
    padding-right: 3.125rem;
    padding-bottom: 10.5rem;
    padding-top: 3rem;
    z-index: 5;
    margin-bottom: 2rem;
    background: #2100E9 url("/projects/d.webp") no-repeat right bottom /152px auto;
    color: #FFFFFF;
    .projects__item-desc {
      max-width: 149px;
    }
    @media (min-width: 1200px) {
      height: calc(100% - 2rem);
      .projects__item-desc {
        max-width: 100%;
      }

      .projects__item-desc {
        max-width: 214px;
      }
    }
    .projects__item-title {
      max-width: 5.625rem;
      @media (min-width: 1200px) {
        font-size: 42px;
        line-height: 0.9;
        max-width: 11rem;
      }
    }
    
    .projects__item-title-text::after {
      background-color: #654BFF;
      color: #FDD7B0;
      top: 14px;
      right: -2rem;
    }
  }

  .item_d::after {
    width: calc(100% - 1.3125rem);
    height: calc(1rem + 1rem);
    bottom: 1rem;
    left: 0;
    background-color: #654BFF;
    z-index: -1;
  }

  .item_d::before {
    width: calc(100% - 1.3125rem - 1rem);
    height: calc(1rem + 1rem);
    bottom: 0rem;
    left: 0;
    background-color: #35ABEB;
    z-index: -1;
  }

  .projects__item_r {
    padding-right: 3.125rem;
    padding-bottom: 10.5rem;
    z-index: 5;
    margin-bottom: 2rem;
    @media (min-width: 1200px) {
      padding-top: 41px;
      max-height: calc(100% - 2rem);
    }
    
    .projects__item-title-text::after {
      background-color: #3A8685;
      color: #2BF8FF;
      top: unset;
      bottom: 3px;
      right: 5rem;
    }
  }

  .item_r::after {
    width: calc(100% - 1.3125rem);
    height: calc(1rem + 1rem);
    bottom: 1rem;
    left: 0;
    background-color: #E5E3E4;
    z-index: -1;
  }

  .item_r::before {
    content: none;
  }

  .projects__item-title-subtitle {
    font-size: 1.125rem;
  }
</style>